.TodoItem{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid gray;
}
#checkBox{
    accent-color: rgb(50, 161, 89);
}
p{
    border: 1px solid white;
}
#editInput{
    outline: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.TodoItem button{
    border: none;
    height: 50px;
    width: 70px;
    border-radius: 10px;
}
.TodoItem button:hover{
    background-color: gray;
    color: white;
}