@font-face {
    font-family: 'KakaoBigFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoBigSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
*{
    margin: 0;
    font-family: 'KakaoBigFont';
}
