.App{
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 80vw;
}