.Editor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    min-height:100vh;
}
.Editor input{
    margin-top: 20px;
    width: 90%;
    height: 70px;
    font-size: 40px;
    font-weight: bold;

    border: none;
    border-bottom: 2px solid gray;
    text-align: center;
    outline: none;
}
.Editor input:focus{
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}
.Editor p{
    font-size: 30px;
}
.Editor textarea{
    box-sizing: border-box;
    width: 90%;
    height: 400px;
    resize: vertical;
    outline: none;
    padding: 15px;
    font-size: 30px;
    border-radius: 3px;
    border: 2px solid rgb(215, 215, 215);
}
.Editor textarea:focus{
    border: 2px solid black;
}
.Editor button{
    width: 90%;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: yellow;
}
.Editor button:hover{
    background-color: rgb(231, 231, 0);
}