.EditorButton{
    margin: 30px;
    text-align: center;
}
.EditButton{
    width: 90%;
    height: 50px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 500; 
}
.EditButton:hover{
    background-color:rgba(231, 231, 231,0.8) ;
}