body{
    padding:20px;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.App{
    align-items: center;
    flex-direction: column;
    width: 400px;
}
.App section{
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}
